BasedOnStyle: Google
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach 
ColumnLimit: 0
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
TabWidth: 4
UseTab: Never
ExperimentalAutoDetectBinPacking: true